html, body {
	font-size: 10px;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #212121;
	/*height: 100%;
	width: 100%;*/
	overflow-x: hidden;
	overflow-y: visible;
	height: 100%;
	width: 100%;
}

.container {
	/*display: flex;
	flex-direction: column;
	position: relative;*/
	overflow-x: hidden;
	overflow-y: visible;
	width: 100%;
	height: 100%;
}

.navbar {
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: space-between;
	padding: 20px 50px 0 50px;
	box-sizing: border-box;
	/*-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);*/
	position: fixed;
	/*background-color: white;*/
	color: white;
}

.navbar__list-wrapper {
	display: flex;
	align-items: center;
	/*width: 35%;*/
	position: relative;
	flex-grow: 1;
}

.navbar__list {
	display: flex;
	list-style-type: none;
	padding: 0;
	justify-content: flex-end;
	width: 100%;
}

.navbar__brand {
	height: 100%;
}

.hamburger {
	display: none;
}

.navbar__logo {
	height: 100%;
	filter: drop-shadow( 0 5px 5px #111);
}

.navbar__item {
	position: relative;
	margin-left: 40px;
	text-align: right;
}

.navbar__link {
	font-size: 2.4rem;
	color: #212121;
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 4px #111;

}

#BugSeal:hover .navbar__submenu, #BugSeal:hover .navbar__sublink {
	opacity: 1;
	display: flex;
}

.navbar__link:hover {
	color: #0f72bc;
}

.navbar__submenu {
	position: absolute;
	opacity: 0;
	bottom: -32px;
	height: 50px;
}

.navbar__sublink {
	display: none;
}

.navbar__sublist {
	list-style-type: none;
	padding: 0;
	height: 100%;
}

.landing {
	height: 100vh;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.landing-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-image: url("https://images.unsplash.com/photo-1504376830547-506dedfe1fe9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9");
	background-image: url("./images/bluedoor.jpg");
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.landing__content {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
	box-sizing: border-box;
	text-align: center;
	background-color: rgba(75, 75, 75, .5);

}

.landing__heading {
	font-size: 8rem;
	color: #2bc0df;
	/*color: white;*/
	/*font-style: italic;*/
	margin: 10px 0;
	text-shadow: 1px 5px 5px #212121;
}

.landing__subheading {
	font-size: 6.5rem;
	/*font-weight: normal;*/
	color: #0f72bc;
	/*font-style: italic;*/
	/*color: white;*/
	margin: 10px 0;
	text-shadow: 1px 5px 5px #333;

}

.landing__info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100px;
	box-sizing: border-box;
	padding: 15px;
	box-shadow: -5px -7px 5px #212121;
}

.landing__image {
	height: 100%;
	width: auto;
	/*width: 150px;*/
	margin: 0 100px;
}

.about {
	background-color: #0f72bc;
	box-shadow: 0px -50px 200px 150px #0f72bc;
	color: white;
	padding: 50px 20% 100px 20%;
	position: relative;
}

.about__heading {
	font-size: 5rem;
	text-align: center;
	margin: 0;
}

.about__paragraph {
	font-size: 2.4rem;
	line-height: 1.5;
}

.wave {
	position: absolute;
	bottom: -70px;
	width: 102%;
	height: 75px;
	left: -1%;
	background-image: url("wave.png");
	transform: rotate(180deg);
	z-index: 5;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.footer__image {
	position: absolute;
	
	transform: rotate(180deg);
	height: 50px;
	/*width: 102%;*/
	/*min-width: 102%;*/
	object-fit: fill;
	z-index: 5;
	bottom: -50px;
	left: 0;
	right: 50%;

}


.products {
	width: 100%;
	position: relative;
	background-color: white;
	padding: 100px 0 50px 0;
	display: flex;
	flex-direction: column;
	background-color: #f9f9f9;
	justify-content: space-evenly;
}

.products__heading {
	text-align: center;
	font-size: 4rem;
	margin-bottom: 75px;
	/*color: #0f72bc;*/
}

.product-list {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 50px;
	flex-wrap: nowrap;
}

.product {
	display: flex;
	flex-direction: column;
	width: 28%;
	/*flex-grow: 1;*/
	height: auto;
	margin: 0 20px;
	/*max-height: 500px;*/
	/*background-color: white;*/
	max-width: 800px;
	border-radius: 5px;
	/*min-width: 400px;*/
}

.product__image-wrapper {
	width: 100%;
	height: 30vh;
	background-color: white;
	position: relative;
}

.product__caption {
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: 2rem;
	margin: 0; 
	color: #666;
}

.product__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#Tsunami-image {
	object-fit: contain;
}

.product__info {
	/*box-sizing: border-box;*/
	padding: 20px 0px;
	/*padding-bottom: 20px;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
}

.product__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product__heading {
	font-size: 2.8rem;
	margin: 0;
	color: #0f72bc;
}

.product__link {
	font-size: 1.8rem;
	text-decoration: none;
	color: #666;
	min-width: 40px;
}

.product__description {
	font-size: 2.4rem;
}

.product__footer {
	width: 100%;
	text-align: center;
}

.product__contact {
	text-align: center;
	font-size: 3rem;
	margin: 0;
}

.product__contact__link {
	text-decoration: none;
	color: #0f72bc;
	font-weight: bold;
}




.footer {
	height: 100px;
	width: 100%;
	background-color: #f9f9f9;
}

.footer__content {
	height: 100%;
	width: 90%;
	box-sizing: border-box;
	margin: 0 auto;
	border-top: 2px solid #999;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.footer__text {
	margin: 0 10px;
	font-size: 2rem;
}

.footer__text-wrapper {
	display: flex;
}

.footer__dash {
	display: none;
}

.footer__text--last {
	margin: 0 4px;
}






.product-page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #f7f7f7;
	min-height: 100vh;
}

.product-page__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 50px 10%;
	padding-top: 100px;
	height: auto;
	flex-grow: 1;
	
}

.gallery {
	display: flex;
	flex-direction: column;
	/*max-width: 1000px;*/
	justify-content: flex-start;
	width: 48%;
	height: 100%;
	max-height: 75%;
}

.gallery__main {
	max-width: 100%;
	/*position: relative;*/
	flex-grow: 1;
	/*order: 2;*/
	display: flex;
	max-height: 50vh;
}

.gallery__main:not(:first-child) {
	opacity: 0;
}

.gallery__image {
	width: 100%;
	/*height: 100%;*/
	object-fit: cover;
	/*position: absolute;*/
}

.hidden {
	display: none;
}

.show {
	display: flex!important;
}

.gallery__selector {
	box-sizing: border-box;
	width: 110px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 10px;
}

.gallery__button {
	border: none;
	background: none;
	padding: 0;
	margin-right: 10px;
}

.gallery__button:hover {
	cursor: pointer;
}

.gallery__button:focus {
	outline: none;
}

.gallery__thumbnail {
	height: 100px;
	width: 100px;
	
}

.info {
	width: 48%;
	height: 100%;
	min-height: 100%;
}

.info__heading {
	margin-top: 0;
	font-size: 3.5rem;
	color: #0f72bc;
}

.info__section {
	margin-bottom: 50px;
}

.info__subheading {
	font-size: 2.5rem;
	/*font-weight: normal;*/
	color: #2bc0df; 
	margin: 0;
}

.info__paragraph {
	font-size: 2rem;
	color: #555;
	margin: 10px 0;
	line-height: 1.75;
}




.product__hero {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 50px 10%;
	align-items: center;
}

.product__hero__image {
	width: 500px;
	height: 200px;
	margin-bottom: 25px;
	-webkit-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, .5);
	-moz-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, .5);
	box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, .5);
	width: 70vw;
	height: 30vw;
	max-width: 800px;
	max-height: 320px;
}

.product__information {
	font-size: 2.5rem;
	width: 75%;
}

.product__misc {
	font-size: 3rem;
	color: #0f72bc;
}



.contact-page__content {
	background: rgb(15,114,188);
	background: -moz-linear-gradient(45deg, rgba(15,114,188,1) 33%, rgba(43,192,223,1) 66%);
	background: -webkit-linear-gradient(45deg, rgba(15,114,188,1) 33%, rgba(43,192,223,1) 66%);
	background: linear-gradient(45deg, rgba(15,114,188,1) 33%, rgba(43,192,223,1) 66%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f72bc",endColorstr="#2bc0df",GradientType=1);
}

@media only screen and (max-width: 1024px) {

	.navbar {
		padding: 20px;
		padding-bottom: 0;
	}

	.hamburger {
		background-color: transparent;
		border: none;
		color: white;
		font-size: 2rem;
		padding: 0;
		text-shadow: 2px 2px 4px #111;
		display: flex;
	}

	.hamburger:hover {
		opacity: 1;
	}

	.hamburger.is-active:hover {
		opacity: 1;
	}

	.hamburger:focus {
		outline: none;
	}

	.hamburger-box {
		position: relative;
		z-index: 2;
	}

	.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
		background-color: white!important;
	}

	.hamburger-box--underlay {
		position: absolute;
		bottom: 20px;
		left: 2px;
		z-index: 1;
	}

	.hamburger-box--underlay > .hamburger-inner, .hamburger-box--underlay > .hamburger-inner:before, .hamburger-box--underlay > .hamburger-inner:after {
		background-color: #666!important;
	}

	.navbar__button:focus {
		outline: none;
		background-color: none;
	}

	.navbar__list-wrapper {
		flex-grow: 0;
		position: relative;
		justify-content: center;
		align-items: center;
		width: unset;
		display: flex;
		flex-direction: column;
	}

	.navbar__list {
		flex-direction: column; 
		position: absolute;
		justify-content: space-between;
		right: 0;
		bottom: -200px;
		width: unset;
		align-items: flex-end;
		/*display: none;*/
		transform: scaleY(0);
		height: 200px;
		width: 100vw;
	}

	.navbar__item {
		height: 50px;
		display: flex;
	}

	.navbar__link {
		font-size: 2.0rem;
	}

	.landing__heading {
		font-size: 6rem;
	}

	.landing__subheading {
		font-size: 4.5rem;
	}

	.product-list {
		flex-direction: column;
	}

	.product-list {
		align-items: center;
	}

	.product {
		margin-bottom: 75px;
		width: 70%;
		min-height: unset;
	}

	.product__image-wrapper {
		height: 30vh;
	}

	.product__contact {
		width: 80%;
		margin: 0 auto;
	}

	.product__info {
		height: unset;
		padding: 0;
		margin-top: 20px;
	}

	.product__description {
		margin-bottom: 0;
	}

	.product-list {
		align-items: center;
	}

	.product {
		margin-bottom: 75px;
		width: 70%;
		min-height: unset;
	}

	.product__image-wrapper {
		height: 40vh;
	}

	.product__contact {
		width: 80%;
		margin: 0 auto;
	}

	.product__info {
		height: unset;
		padding: 0;
		margin-top: 20px;
	}

	.product__description {
		margin-bottom: 0;
	}
}


@media only screen and (max-width: 768px) {
	.navbar {
		padding: 10px 25px;
		height: 80px;
	}

	.navbar__brand {
		height: 50px;
	}

	.landing {
		height: 110vh;
	}

	

	.landing__content {
		margin-top: -50px;
	}

	.landing__heading {
		font-size: 4rem;
	}

	.landing__subheading {
		font-size: 3rem;
	}



	.about {
		padding: 0 10% 100px 10%;
	}

	.about__heading {
		font-size: 3rem;
	}

	.about__paragraph {
		text-align: center;
	}

	.products__heading {
		font-size: 3rem;
	}

	.footer__text {
		font-size: 1.4rem;
	}

	.footer__text--last {
		display: flex;
		flex-direction: row;
		white-space: nowrap;
	}

	.footer__dash {
		display: flex;
	}

	.footer__text-wrapper {
		flex-direction: column;
		margin: 0 10px;
	}



	.product-page__content {
		flex-direction: column;
	}

	.gallery {
		width: 100%;
		margin-bottom: 50px;
	}

	.info {
		width: 100%;
	}

}

/*animations*/
.scale-in-ver-top {
	-webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        	animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    /* ----------------------------------------------
	 * Generated by Animista on 2019-4-21 19:28:10
	 * w: http://animista.net, t: @cssanimista
	 * ---------------------------------------------- */

	/**
	 * ----------------------------------------
	 * animation scale-in-ver-top
	 * ----------------------------------------
	 */
	@-webkit-keyframes scale-in-ver-top {
	  0% {
	    -webkit-transform: scaleY(0);
	            transform: scaleY(0);
	    -webkit-transform-origin: 100% 0%;
	            transform-origin: 100% 0%;
	    opacity: 1;
	  }
	  100% {
	    -webkit-transform: scaleY(1);
	            transform: scaleY(1);
	    -webkit-transform-origin: 100% 0%;
	            transform-origin: 100% 0%;
	    opacity: 1;
	  }
	}
	@keyframes scale-in-ver-top {
	  0% {
	    -webkit-transform: scaleY(0);
	            transform: scaleY(0);
	    -webkit-transform-origin: 100% 0%;
	            transform-origin: 100% 0%;
	    opacity: 1;
	  }
	  100% {
	    -webkit-transform: scaleY(1);
	            transform: scaleY(1);
	    -webkit-transform-origin: 100% 0%;
	            transform-origin: 100% 0%;
	    opacity: 1;
	  }
	}

}

.scale-out-ver-top {
	-webkit-animation: scale-out-ver-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-ver-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-4-21 19:32:10
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
